<h2 class="centerTitle">Album list</h2>

<form [formGroup]="genreForm" (keyup)="onKeyUp()" autocomplete="off" id="genreForm">
  <input id="genre" type="text" formControlName="genre" placeholder="Enter genre" id="genreInput">
</form>

<ul class="albums">
  <li *ngFor="let album of albums; index as i ;trackBy:trackByIndex">
    <h2>{{album.ID}}</h2>
    <h3>{{album.Title}}</h3>
    <p>{{album.Artist}}</p>
    <p>{{album.Genre}}</p>
    <p>{{album.Sales}}</p>
    <button (click)="addToCart(album.ID, i)">Add to cart</button>
    <input type="text" [(ngModel)]="quantities[i]">
  </li>
</ul>

<ul class="centerNavigationButtons">
  <div>Total albums -> {{albumCount}}</div>
  <br>
  <button id="previousPageButton" (click)="goBackOnePage()">Previous page</button>
  <button id="nextPageButton" (click)="goForwardOnePage()">Next page</button>
</ul>

