<h2>Album list</h2>

<form [formGroup]="genreForm" (keyup)="onKeyUp()" autocomplete="off">
  <label for="genre">Genre</label>
  <input id="genre" type="text" formControlName="genre">
</form>

<table class="albums">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Sales</th>
  </tr>
  <tr *ngFor="let album of albums">
    <td>{{album.ID}}</td>
    <td>{{album.Title}}</td>
    <td>{{album.Artist}}</td>
    <td>{{album.Genre}}</td>
    <td>{{album.Sales}}</td>
    <button (click)="addToCart(album.ID, 1)">Add to cart</button>
  </tr>
</table>
<div>Total albums -> {{albumCount}}</div>

<button id="previousPageButton" (click)="goBackOnePage()">Previous page</button>
<button id="nextPageButton" (click)="goForwardOnePage()">Next page</button>
