html {
	font-family: segoe ui;
}

#showButton {
	background-color: blue;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

#dialog {
	position: relative;
	display: none;
	min-width: 170px;
	min-height: 100px;
	width: 20%;
	height: 20%;
	background-color: red;
	color: white;
	font-weight: 700;
	text-align: center;
	padding: 1%;
	padding-top: 0;
	border: 2px solid black;
	overflow: hidden;
}

#dialogHeader {
	min-height: 20px;
	width: 100%;
	position: relative;
	background-color: transparent;
	top: 0;
	font-family: Helvetica;
	color: cyan;
	text-align: left;
	padding-left: 8px;
}

#hideButton {
	position: absolute;
	top: 0;
	right: -7px;
	border-radius: 10px;
	cursor: pointer;
}

#dialogText {
	overflow: auto;
	max-height: 90%;
	padding-left: 8px;
	padding-right: 8px;
	text-align: left;
	user-select: none;
}