html {
	font-family: segoe ui, arial;
	font-size: 18px;
}

#mainMenuButton {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	min-width: 160px;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-left: 45%;
}

.myDropdownClass {
	position: absolute;
	background-color: transparent;
	min-width: 160px;
}

.secondLevelDropdown {
	display: none;
	position: relative;
	top: -15%;
	left: 111%;
	background-color: #f1f1f1;
	min-width: 160px;
	min-height: 30px;
	text-align: center;
	margin-bottom: 5px;
}

.submenu {
	display: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	width: 100%;
}

