<h2 class="centerTitle">Shopping cart</h2>

<div *ngIf="albums.length > 0; else emptyShoppingCart">
  <ul class="albums">
    <li *ngFor="let album of albums">
      <h2>{{album.ID}}</h2>
      <h3>{{album.Title}}</h3>
      <p>{{album.Artist}}</p>
      <p>{{album.Genre}}</p>
      <p>{{album.Sales}}</p>
      <p>Quantity: {{album['TimesInCart']}}</p>
      <button (click)="removeOneOccurrenceFromCart(album.ID)">Remove 1 from cart</button>
      <button (click)="removeAllOccurrencesFromCart(album.ID)">Remove all from cart</button>
    </li>
  </ul>
</div>

<ng-template #emptyShoppingCart>
  <div id="emptyShoppingCartLabel">Shopping cart is empty</div>
</ng-template>
<br>

<ul class="centerNavigationButtons">
  <button id="previousPageButton" (click)="goBackOnePage()">Previous page</button>
  <button id="nextPageButton" (click)="goForwardOnePage()">Next page</button>
</ul>
