#div1 {
	background-color: red;
	width: 500px;
	min-height: 500px;
	position: relative;
	left: 125px;
	right: 125px;
	pointer-events: none;
}

#div2 {
	background-color: blue;
	width: 500px;
	min-height: 500px;
	position: absolute;
	top: 0px;
	left: 500px;
}

#div3 {
	background-color: green;
	width: 500px;
	min-height: 500px;
	position: absolute;
	top: 500px;
	left: -500px;
}

#div4 {
	background-color: yellow;
	width: 500px;
	min-height: 500px;
	position: absolute;
	top: 0px;
	left: 500px;
	pointer-events: all;
}

#div4:hover {
	background-color: red;
}

#div3:hover {
	background-color: blue;
}

#div2:hover {
	background-color: green;
}

#div1:hover {
	background-color: yellow;
}